<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.vapps.alipay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AlipayPlugin</name>
    <js-module name="AlipayPlugin" src="www/AlipayPlugin.js">
        <clobbers target="cordova.plugins.AlipayPlugin"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AlipayPlugin">
                <param name="ios-package" value="AlipayPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/AlipayPlugin.h"/>
        <source-file src="src/ios/AlipayPlugin.m"/>
        <source-file src="src/ios/Keys.h"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AlipayPlugin">
                <param name="android-package" value="com.vapps.alipay.AlipayPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden" >
            </activity>
            <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind" >
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <source-file src="src/android/libs/alipaysdk.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/alipaysecsdk.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/alipayutdid.jar" target-dir="libs" framework="true" />

        <source-file src="src/android/AlipayPlugin.java" target-dir="src/com/vapps/alipay" />
        <source-file src="src/android/Base64.java" target-dir="src/com/vapps/alipay" />
        <source-file src="src/android/SignUtils.java" target-dir="src/com/vapps/alipay" />
        <source-file src="src/android/Keys.java" target-dir="src/com/vapps/alipay" />
        <source-file src="src/android/PayResult.java" target-dir="src/com/vapps/alipay" />

    </platform>
</plugin>